/**
 * Icon classes
 */

.icon-admincp		{ background-image: url('../img/icons/application_view_tile.png'); }
.icon-aligncenter	{ background-image: url('../img/icons/text_align_center.png'); }
.icon-alignjustify	{ background-image: url('../img/icons/text_align_justify.png'); }
.icon-alignleft		{ background-image: url('../img/icons/text_align_left.png'); }
.icon-alignright	{ background-image: url('../img/icons/text_align_right.png'); }
.icon-apply			{ background-image: url('../img/icons/accept.png'); }
.icon-articleman	{ background-image: url('../img/icons/page_white_stack.png'); }
.icon-authorlink	{ background-image: url('../img/icons/world.png'); }
.icon-bold			{ background-image: url('../img/icons/text_bold.png'); }
.icon-cancel		{ background-image: url('../img/icons/cancel.png'); }
.icon-config		{ background-image: url('../img/icons/wrench.png'); }
.icon-deletepage	{ background-image: url('../img/icons/page_white_delete.png'); }
.icon-editpage		{ background-image: url('../img/icons/page_white_edit.png'); }
.icon-encpage		{ background-image: url('../img/icons/page_white_key.png'); }
.icon-h1			{ background-image: url('../img/icons/text_heading_1.png'); }
.icon-h2			{ background-image: url('../img/icons/text_heading_2.png'); }
.icon-h3			{ background-image: url('../img/icons/text_heading_3.png'); }
.icon-h4			{ background-image: url('../img/icons/text_heading_4.png'); }
.icon-h5			{ background-image: url('../img/icons/text_heading_5.png'); }
.icon-h6			{ background-image: url('../img/icons/text_heading_6.png'); }
.icon-help			{ background-image: url('../img/icons/help.png'); }
.icon-hr			{ background-image: url('../img/icons/text_horizontalrule.png'); }
.icon-indent		{ background-image: url('../img/icons/text_indent.png'); }
.icon-indentrm		{ background-image: url('../img/icons/text_indent_remove.png'); }
.icon-inssymbol		{ background-image: url('../img/icons/text_letter_omega.png'); }
.icon-italic		{ background-image: url('../img/icons/text_italic.png'); }
.icon-login			{ background-image: url('../img/icons/door_in.png'); }
.icon-logout		{ background-image: url('../img/icons/door_open.png'); }
.icon-newpage		{ background-image: url('../img/icons/page_white_add.png'); }
.icon-newwidget		{ background-image: url('../img/icons/plugin_add.png'); }
.icon-ol			{ background-image: url('../img/icons/text_list_numbers.png'); }
.icon-preview		{ background-image: url('../img/icons/magnifier.png'); }
.icon-publishpage	{ background-image: url('../img/icons/page_white_get.png'); }
.icon-save			{ background-image: url('../img/icons/disk.png'); }
.icon-strikethru	{ background-image: url('../img/icons/text_strikethrough.png'); }
.icon-sub			{ background-image: url('../img/icons/text_subscript.png'); }
.icon-sup			{ background-image: url('../img/icons/text_superscript.png'); }
.icon-sysinfo		{ background-image: url('../img/icons/information.png'); }
.icon-ul			{ background-image: url('../img/icons/text_list_bullets.png'); }
.icon-underline		{ background-image: url('../img/icons/text_underline.png'); }
.icon-unpublishpage	{ background-image: url('../img/icons/page_white_put.png'); }
.icon-userman		{ background-image: url('../img/icons/user.png'); }
.icon-viewsite		{ background-image: url('../img/icons/house_go.png'); }
.icon-widgetpos		{ background-image: url('../img/icons/plugin_link.png'); }